.accordion {
  list-style: none;
  border-radius: 4px;
  
  &__heading {
    background-color: var(--background-color-2);
    padding: .5rem 1rem;
    font-size: 1.5rem;
    margin: 1rem 0;
  }
  
  &__button {
    position: relative;
    cursor: pointer;

    svg {
      fill: var(--primary-font-color);
      position: absolute;
      top: 1px;
      right: -9px;
      height: 30px;
      width: 30px;
      transition: transform 0.11s ease-in-out;
    }

    &[aria-expanded="true"] {
      svg {
        transform: rotate(180deg);
      }
    }
  }
  
  &__panel {
    transition: opacity 3s ease-in-out;
    opacity: 1;
  }

  &__panel[hidden] {
    opacity: 0;
  }
}
